@font-face {
  src: url(../fonts/PlayfairDisplay-Medium.ttf);
  font-family: modernking;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: modernking;
}

.tn-sig {
  height: 7vh;
}

/* NAVBAR */

.navlinks-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8vw;
  width: 100vw;
  height: 10vh;
  margin-right: 5vw;
  background-color: rgba(255,255,255,0.7);
}

.navlink-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
}

a.nav {
  color: black;
}

/* a.nav:hover {
  color: rgb(255,255,255);
  -webkit-text-stroke: 1px black;
} */

.navbar-links {
  width: 100vw;
  height: 10vh;
}


/* FOOTER */

.footer-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: whitesmoke;
  margin-top: auto;
}

.footer-row {
  display: flex;
  justify-content: space-evenly;
  width: 26vw;
}

img.mediaLinks-logo {
  display: flex;
  justify-content: center;
  height: 8vh;
}

/* Media Queries Header */

@media (orientation: portrait) and (max-height: 1200px) {
  .navlink-bar {
    width: 100vw;
    font-size: 4vw;
  }
}

@media (orientation: portrait) and (min-height: 1300px) {
  .navlink-bar {
    width: 100vw;
    font-size: 4vw;
  }
  .tn-sig {
    width: 6vh;
  }
}

@media (orientation: landscape) and (max-width: 1500px) {

}

/* Media Queries Footer */
 @media (orientation: portrait) and (min-height: 1300px) {

 }