/* Home Page */

.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
  }
  
  .welcome-msg {
    display: flex;
    flex-direction: column;
    font-size: 2.5vw;
    color: white;
    width: 50vw;
    margin-left: 52vw;
    margin-top: 5vh;
  }
  
  .welcome {
    width: 30vw;
  }
  
  .quote-1 {
    font-size: 1.7vw;
    width: 32vw;
    margin-left: 10vw;
    margin-top: 5vh;
    text-shadow: 4px 4px 24px rgb(255,255,255);
  }
  
  .quote-2 {
    font-size: 1.7vw;
    margin-left: 1vw;
    margin-bottom: 8vh;
  }

 /* Media Queries Home Page */

 @media (orientation: portrait) and (max-height: 1200px) {
    .home-container {
      display: flex;
      flex-direction: column;
      height: 80vh;
    }
  
    .welcome-msg {
      display: flex;
      flex-direction: column;
      font-size: 5.5vw;
      color: white;
      width: 50vw;
      margin-left: 48vw;
      margin-top: 17vh;
    }
  
    .welcome {
      width: 50vw;
    }
  
    .quote-1 {
      font-size: 4.5vw;
      width: 60vw;
      margin-left: 10vw;
      margin-top: 3vh;
      text-shadow: 4px 4px 24px rgb(255,255,255);
    }
  
    .quote-2 {
      font-size: 4.5vw;
      margin-left: 35vw;
      margin-top: 3.6vh;
    }
   }
  
  @media (orientation: portrait) and (min-height: 1300px) {
    .home-container {
      display: flex;
      flex-direction: column;
      height: 90vh;
      overflow-y: hidden;
    }
  
    .welcome-msg {
      display: flex;
      flex-direction: column;
      font-size: 2.5vw;
      color: white;
      width: 50vw;
      height: 15vh;
      margin-left: 49vw;
    }
  
    .welcome {
      width: 40vw;
      margin-top: 20vh;
      margin-left: 8vw;
    }
  
    .quote-1 {
      font-size: 2vw;
      width: 60vw;
      margin-left: 5vw;
      margin-top: 2vh;
      text-shadow: 4px 4px 24px rgb(255,255,255);
    }
  
    .quote-2 {
      font-size: 2vw;
      margin-left: 38vw;
      margin-top: -1vh;
    }
  }

@media (orientation: landscape) and (max-width: 1500px) {
    .home-container {
      display: flex;
      flex-direction: column;
      height: 80vh;
      width: 100vw;
    }
    .welcome {
      margin-top: 8vh;
    }
    .quote-1 {
        font-size: 2vw;
        width: 40vw;
        margin-left: 5vw;
        margin-top: 3vh;
        text-shadow: 4px 4px 24px rgb(255,255,255);
      }
    .quote-2 {
        font-size: 2vw;
        margin-left: 45vw;
        margin-top: -1vh;
    }
}