/* PORTFOLIO PAGE */

  .portfolio-page {
    margin-top: 8vh;
  }

  .project-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .repo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100%;
  }
    
  .project-card-row {
    display: flex;
    justify-content: space-around;
    height: 80vh;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 20vw;
    box-shadow: 4px 4px 6px 4px grey;
    background-color: white;
  }

  .project-card-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .project-tactics-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17vh;
    border-radius: 8px 8px 0px 0px;
  }

  .project-portfoliu-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17vh;
    border-radius: 8px 8px 0px 0px;
  }

  .project-toughflix-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17vh;
    border-radius: 8px 8px 0px 0px;
  }
  
  .overview {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .project-main-title {
    font-size: 4vw;
    margin-bottom: 5vh;
    margin-top: 3vh;
  }
  
  .project-main-vid {
    border-radius: 6px 6px 6px 6px;
    height: 30vh;
    width: 30vw;
  }
  
  .tech-stack {
    font-size: 2vw;
    margin-top: 5vh;
  }

  .github-repo {
    height: 8vh;
    margin-top: 2vh;
  }

  .project-main-overview {
    margin-top: 20vh;
    width: 45vw;
    font-size: 1.7vw;
    align-self: center;
  }
  
  .repo-container-double {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .portfoliu-repo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-github {
    height: 8vh;
    margin-top: 3vh; 
  }

  .portfolio-tactics-github {
    height: 8vh;
    margin-top: 4vh; 
  }
  
  .jumbo-project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    opacity: 85%;
    box-shadow: 3px 3px 4px 3px grey;
  }
  
  .vid-overview {
    display: flex;
    justify-content: space-between;
  }
  
  .project-screenshot {
    height: 30vh;
    width: 30vw;
    margin-top: 13vh;
  }

  .title {
    margin-top: 1vh;
  }

  .technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh; 
  }

  .rails-main-badge {
    width: 8vw;
    margin-top: 20px;
    flex-grow: 1,
  }

  .bootstrap-main-badge {
    width: 8vw;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
  }
 
  .rails-badge {
    width: 8vw;
    height: 3.5vh;
    margin-top: 20px;
    margin-bottom: -18px;
    flex-grow: 1,
  }
  
  .js-badge {
    width: 8vw;
    margin-bottom: 5px;
    flex-grow: 1;
  }
  
  .jquery-badge {
    width: 8vw;
    height: 3.5vh;
    flex-grow: 1;
  }

  .react-badge {
    width: 8vw;
    height: 3.5vh;
    flex-grow: 1;
  }
  
  .jwt-badge {
    width: 8vw;
    height: 3.5vh;
    margin-top: 5px;
    flex-grow: 1;
  }

  .tactics-repo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .toughflix-repo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .portfolio-break {
    padding-top: 15vh;
  }

  .portfolio-break-2 {
    padding-top: 15vh;
  }


  /* Media Queries */

  @media (orientation: portrait) and (max-height: 1200px) {
    .portfolio-page {
      margin-top: 6vh;
    }

    .jumbo-project-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        opacity: 85%;
        box-shadow: 3px 3px 4px 3px grey;
      }

      .project-vid {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .project-main-title {
        flex-grow: 1;
        font-size: 14vw;
      }

      .project-main-vid {
        border-radius: 6px 6px 6px 6px;
        height: 25vh;
        width: 70vw;
      }

      .tech-stack {
        font-size: 7vw;
        margin-top: 5vh;
      }

      .rails-main-badge {
        width: 35vw;
        margin-top: 20px;
        flex-grow: 1,
      }
    
      .bootstrap-main-badge {
        width: 35vw;
        margin-top: 5px;
        margin-bottom: 5px;
        flex-grow: 1;
      }

      .title-overview {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
      }

      .project-main-overview {
        width: 75vw;
        font-size: 5.5vw;
        align-self: center;
        margin-top: 7vh;
      }

      .project-screenshot {
        height: 20vh;
        width: 70vw;
        margin-top: 5vh;
      }

      .project-card-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200vh;
      }

      .project-card {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        width: 60vw;
        box-shadow: 4px 4px 6px 4px grey;
        background-color: white;
        margin-bottom: 8vh;
      }

      .portfolio-break {
        padding-top: 35vh;
      }

      .overview {
        font-size: 15px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
      }

      .tech-stack-title {
        font-size: 6vw;
      }

      .rails-badge {
        width: 25vw;
        margin-top: 20px;
        margin-bottom: -18px;
        flex-grow: 1,
      }
      
      .js-badge {
        width: 25vw;
        margin-bottom: 5px;
        flex-grow: 1;
      }

      .react-badge {
        width: 25vw;
        height: 3vh;
        flex-grow: 1;
      }

      .jquery-badge {
        width: 25vw;
        height: 3vh;
        flex-grow: 1;
      }

      .jwt-badge {
        width: 25vw;
        height: 3vh;
        margin-top: 5px;
        flex-grow: 1;
      }

      .portfolio-github {
        height: 8vh;
        margin-bottom: 3vh;
        margin-top: 1vh;
      }

      .portfolio-tactics-github {
        height: 8vh;
        margin-bottom: 3vh;
        margin-top: 1vh; 
      }
      
      .portfolio-break-2 {
        padding-top: 40vh;
      }
  }


@media (orientation: portrait) and (min-height: 1300px) {
  .portfolio-page {
    margin-top: 6vh;
    height: 100%;
    min-height: 100%;
  }

  .jumbo-project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    opacity: 85%;
    box-shadow: 3px 3px 4px 3px grey;
  }

  .project-main-vid {
    border-radius: 6px 6px 6px 6px;
    height: 20vh;
    width: 35vw;
  }

  .project-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
  }

  .title-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
  }

  .project-main-title {
    font-size: 4vw;
    margin-bottom: 5vh;
    margin-top: 3vh;
  }

  .project-screenshot {
    height: 16vh;
    width: 35vw;
    margin-top: 10vh;
    border-radius: 6px 6px 6px 6px;
  }

  .tech-stack {
    font-size: 3vw;
    margin-top: 5vh;
  }

  .rails-main-badge {
    width: 12vw;
    height: 2vh;
    margin-top: 20px;
    flex-grow: 1,
  }

  .bootstrap-main-badge {
    width: 12vw;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
  }

  .github-repo {
    height: 6vh;
    margin-top: 2vh;
  }

  .project-main-overview {
    margin-top: 15vh;
    width: 45vw;
    font-size: 2.3vw;
    align-self: center;
  }

  .portfolio-break {
    padding-top: 5vh;
  }

  .portfolio-break-2 {
    padding-top: 13vh;
  }

  .project-card-row {
    display: flex;
    justify-content: space-around;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 62vh;
    width: 25vw;
    box-shadow: 4px 4px 6px 4px grey;
    background-color: white;
  }

  .project-tactics-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 13vh;
  }

  .project-portfoliu-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 13vh;
  }

  .project-toughflix-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 13vh;
  }

  .rails-badge {
    width: 12vw;
    height: 2.1vh;
    margin-top: 20px;
    margin-bottom: -18px;
    flex-grow: 1,
  }

  .js-badge {
    width: 12vw;
    margin-bottom: 5px;
    flex-grow: 1;
  }

  .jquery-badge {
    width: 12vw;
    height: 2.1vh;
  }

  .react-badge {
    width: 12vw;
    height: 2.1vh;
    flex-grow: 1;
  }

  .jwt-badge {
    width: 12vw;
    height: 2.1vh;
    margin-top: 5px;
  }

  .portfolio-tactics-github {
    height: 6vh;
    margin-top: 3.5vh; 
  }

  .portfolio-github {
    height: 6vh;
    margin-top: 3vh; 
  }
}

@media (orientation: landscape) and (max-width: 1500px) {
  .portfolio-github {
    height: 8vh;
    margin-top: 1vh; 
  }

  .portfolio-tactics-github {
    height: 8vh;
    margin-top: 2vh; 
  }

  .portfolio-break-2 {
    padding-top: 13vh;
  }
}