.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mediaLinks-logo {
  width: 7vw;
  padding: 10px 5px 5px 5px;
  color: white;
}

.navlinks-container {
  display: flex;
  justify-content: space-around;
}

.footer-container {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: grey;
}

/* PORTFOLIO PAGE */

.portfolio-container-1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50vw;
  height: 200vh;
}

.project-card {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  border-radius: 15px;
  width: 25vw;
  height: 90vh;
  box-shadow: 2px 2px 2px grey;
}

.project-vid {
  border-radius: 15px 15px 0px 0px;
}

.repo-container-double {
  display: flex;
}